In [39]:
#analyze, manipulate, helps you get data ready for machine learning

import pandas as pd
import numpy as np

names = pd.Series(["julen","jayson","aveg"])
print(names)

0     julen
1    jayson
2      aveg
dtype: object

In [40]:

Type = pd.Series(["thin","tall","fat"])
sur_name = pd.Series(["Shrestha","Pradhanangay","fatto"])

names_data = pd.DataFrame({"Name": names ,  "last_name" : sur_name ,"body-type": Type})
names_data

     Name     last_name body-type
0   julen      Shrestha      thin
1  jayson  Pradhanangay      tall
2    aveg         fatto       fat

In [41]:
data = pd.read_csv("../Data/data.csv")
data

,element,round,assists,bonus,bps,clean_sheets,value,creativity,total_points,goals_conceded,...,npxGA_opponent_team,deep_opponent_team,deep_allowed_opponent_team,scored_opponent_team,missed_opponent_team,npxGD_opponent_team,ppda_att_opponent_team,ppda_def_opponent_team,ppda_allowed_att_opponent_team,ppda_allowed_def_opponent_team
0,454,1,0.10863,0.32589,17.788171,0.298733,5.5,0.0,3.611949,1.357876,...,1.094252,9.315789,5.105263,1.552632,1.394737,0.239271,213.236842,25.0,272.026316,27.0
1,454,2,0.00000,0.00000,0.000000,0.000000,5.5,0.0,0.000000,0.000000,...,1.911050,3.000000,4.000000,1.000000,3.000000,-1.388203,351.000000,24.0,263.000000,25.0
2,454,3,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,0.549491,9.000000,3.000000,4.000000,1.000000,0.861319,208.000000,44.0,253.000000,19.0
3,454,4,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,1.271540,8.000000,11.000000,1.000000,3.000000,-0.193790,286.000000,29.0,204.000000,29.0
4,454,5,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,0.986511,4.000000,8.000000,0.000000,1.000000,0.496959,224.000000,21.0,130.000000,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71592,27,34,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,0.760443,15.000000,1.000000,5.000000,2.000000,1.110977,135.000000,15.0,344.000000,15.0
71593,27,35,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.657530,7.000000,8.000000,2.000000,3.000000,-1.369330,336.000000,24.0,192.000000,26.0
71594,27,36,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.106070,3.000000,4.000000,0.000000,3.000000,-1.819509,354.000000,19.0,287.000000,20.0
71595,27,37,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.223300,4.000000,12.000000,2.000000,1.000000,-0.908140,306.000000,18.0,139.000000,29.0
71596,27,38,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,0.984161,2.000000,13.000000,1.000000,1.000000,-0.455239,241.000000,18.0,237.000000,20.0

In [42]:
data.to_csv("../Data/Exported-data-false.csv",index = False)
data.to_csv("../Data/Exported-data-true.csv")
new_data_true = pd.read_csv("../Data/Exported-data-true.csv")
new_data_false = pd.read_csv("../Data/Exported-data-false.csv")

In [43]:
new_data_false

,element,round,assists,bonus,bps,clean_sheets,value,creativity,total_points,goals_conceded,...,npxGA_opponent_team,deep_opponent_team,deep_allowed_opponent_team,scored_opponent_team,missed_opponent_team,npxGD_opponent_team,ppda_att_opponent_team,ppda_def_opponent_team,ppda_allowed_att_opponent_team,ppda_allowed_def_opponent_team
0,454,1,0.10863,0.32589,17.788171,0.298733,5.5,0.0,3.611949,1.357876,...,1.094252,9.315789,5.105263,1.552632,1.394737,0.239271,213.236842,25.0,272.026316,27.0
1,454,2,0.00000,0.00000,0.000000,0.000000,5.5,0.0,0.000000,0.000000,...,1.911050,3.000000,4.000000,1.000000,3.000000,-1.388203,351.000000,24.0,263.000000,25.0
2,454,3,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,0.549491,9.000000,3.000000,4.000000,1.000000,0.861319,208.000000,44.0,253.000000,19.0
3,454,4,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,1.271540,8.000000,11.000000,1.000000,3.000000,-0.193790,286.000000,29.0,204.000000,29.0
4,454,5,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,0.000000,...,0.986511,4.000000,8.000000,0.000000,1.000000,0.496959,224.000000,21.0,130.000000,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71592,27,34,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,0.760443,15.000000,1.000000,5.000000,2.000000,1.110977,135.000000,15.0,344.000000,15.0
71593,27,35,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.657530,7.000000,8.000000,2.000000,3.000000,-1.369330,336.000000,24.0,192.000000,26.0
71594,27,36,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.106070,3.000000,4.000000,0.000000,3.000000,-1.819509,354.000000,19.0,287.000000,20.0
71595,27,37,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,2.223300,4.000000,12.000000,2.000000,1.000000,-0.908140,306.000000,18.0,139.000000,29.0
71596,27,38,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,0.000000,...,0.984161,2.000000,13.000000,1.000000,1.000000,-0.455239,241.000000,18.0,237.000000,20.0

In [44]:

new_data_true

,Unnamed: 0,element,round,assists,bonus,bps,clean_sheets,value,creativity,total_points,...,npxGA_opponent_team,deep_opponent_team,deep_allowed_opponent_team,scored_opponent_team,missed_opponent_team,npxGD_opponent_team,ppda_att_opponent_team,ppda_def_opponent_team,ppda_allowed_att_opponent_team,ppda_allowed_def_opponent_team
0,0,454,1,0.10863,0.32589,17.788171,0.298733,5.5,0.0,3.611949,...,1.094252,9.315789,5.105263,1.552632,1.394737,0.239271,213.236842,25.0,272.026316,27.0
1,1,454,2,0.00000,0.00000,0.000000,0.000000,5.5,0.0,0.000000,...,1.911050,3.000000,4.000000,1.000000,3.000000,-1.388203,351.000000,24.0,263.000000,25.0
2,2,454,3,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,...,0.549491,9.000000,3.000000,4.000000,1.000000,0.861319,208.000000,44.0,253.000000,19.0
3,3,454,4,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,...,1.271540,8.000000,11.000000,1.000000,3.000000,-0.193790,286.000000,29.0,204.000000,29.0
4,4,454,5,0.00000,0.00000,0.000000,0.000000,5.4,0.0,0.000000,...,0.986511,4.000000,8.000000,0.000000,1.000000,0.496959,224.000000,21.0,130.000000,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71592,71592,27,34,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,...,0.760443,15.000000,1.000000,5.000000,2.000000,1.110977,135.000000,15.0,344.000000,15.0
71593,71593,27,35,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,...,2.657530,7.000000,8.000000,2.000000,3.000000,-1.369330,336.000000,24.0,192.000000,26.0
71594,71594,27,36,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,...,2.106070,3.000000,4.000000,0.000000,3.000000,-1.819509,354.000000,19.0,287.000000,20.0
71595,71595,27,37,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,...,2.223300,4.000000,12.000000,2.000000,1.000000,-0.908140,306.000000,18.0,139.000000,29.0
71596,71596,27,38,0.00000,0.00000,0.000000,0.000000,4.3,0.0,0.000000,...,0.984161,2.000000,13.000000,1.000000,1.000000,-0.455239,241.000000,18.0,237.000000,20.0

In [45]:
new_data_true.index

RangeIndex(start=0, stop=71597, step=1)

In [46]:
data_columns = new_data_true.columns
data_columns

Index(['Unnamed: 0', 'element', 'round', 'assists', 'bonus', 'bps',
       'clean_sheets', 'value', 'creativity', 'total_points', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'minutes', 'opponent_team',
       'red_cards', 'saves', 'selected_by_percent', 'threat',
       'transfers_balance', 'was_home', 'yellow_cards', 'label', 'player_name',
       'web_name', 'element_type', 'player_team', 'understat_id', 'h_team',
       'a_team', 'shots', 'xG', 'xA', 'key_passes', 'npg', 'npxG', 'xGChain',
       'xGBuildup', 'xG_player_team', 'xGA_player_team', 'npxG_player_team',
       'npxGA_player_team', 'deep_player_team', 'deep_allowed_player_team',
       'scored_player_team', 'missed_player_team', 'npxGD_player_team',
       'ppda_att_player_team', 'ppda_def_player_team',
       'ppda_allowed_att_player_team', 'ppda_allowed_def_player_team',
       'xG_opponent_team', 'xGA_opponent_team', 'npxG_opponent_team',
       'npxGA_opponent_team', 'deep_opponent_team',
       'deep_allowed_opponent_team', 'scored_opponent_team',
       'missed_opponent_team', 'npxGD_opponent_team', 'ppda_att_opponent_team',
       'ppda_def_opponent_team', 'ppda_allowed_att_opponent_team',
       'ppda_allowed_def_opponent_team'],
      dtype='object')

In [47]:
new_data_true["minutes"].describe()

count    71597.000000
mean        41.950633
std         41.643897
min          0.000000
25%          0.000000
50%         26.000000
75%         90.000000
max         90.000000
Name: minutes, dtype: float64

In [48]:
data.describe()

,element,round,assists,bonus,bps,clean_sheets,value,creativity,total_points,goals_conceded,...,npxGA_opponent_team,deep_opponent_team,deep_allowed_opponent_team,scored_opponent_team,missed_opponent_team,npxGD_opponent_team,ppda_att_opponent_team,ppda_def_opponent_team,ppda_allowed_att_opponent_team,ppda_allowed_def_opponent_team
count,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,...,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000,71597.000000
mean,288.261477,20.056413,0.051633,0.136337,7.936667,0.136238,5.316793,6.242633,1.758735,0.638454,...,1.258860,6.659227,6.629783,1.366435,1.362599,0.006071,239.626724,21.613180,240.184728,21.578008
std,168.260302,11.044482,0.248944,0.536360,10.848666,0.336634,1.317538,11.971405,2.837917,1.032617,...,0.795653,4.626346,4.601169,1.236441,1.235506,1.301102,88.624683,6.465405,88.796477,6.479617
min,1.000000,1.000000,0.000000,0.000000,-19.000000,0.000000,3.800000,0.000000,-6.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-5.524602,58.000000,4.000000,58.000000,4.000000
25%,143.000000,11.000000,0.000000,0.000000,0.000000,0.000000,4.500000,0.000000,0.000000,0.000000,...,0.658980,3.000000,3.000000,0.000000,0.000000,-0.835011,174.000000,17.000000,174.000000,17.000000
50%,286.000000,20.000000,0.000000,0.000000,3.000000,0.000000,4.900000,0.200000,1.000000,0.000000,...,1.118500,6.000000,6.000000,1.000000,1.000000,0.003451,230.000000,21.000000,232.000000,21.000000
75%,429.000000,30.000000,0.000000,0.000000,14.000000,0.000000,5.600000,8.000000,2.000000,1.000000,...,1.703660,9.000000,9.000000,2.000000,2.000000,0.853572,295.000000,26.000000,296.000000,25.394737
max,680.000000,38.000000,22.500000,3.000000,382.500000,1.451613,13.600000,321.750000,90.000000,10.000000,...,5.869320,35.000000,35.000000,9.000000,9.000000,5.524602,628.000000,55.000000,628.000000,55.000000

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71597 entries, 0 to 71596
Data columns (total 64 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   element                         71597 non-null  int64
 1   round                           71597 non-null  int64
 2   assists                         71597 non-null  float64
 3   bonus                           71597 non-null  float64
 4   bps                             71597 non-null  float64
 5   clean_sheets                    71597 non-null  float64
 6   value                           71597 non-null  float64
 7   creativity                      71597 non-null  float64
 8   total_points                    71597 non-null  float64
 9   goals_conceded                  71597 non-null  float64
 10  goals_scored                    71597 non-null  float64
 11  ict_index                       71597 non-null  float64
 12  influence                       71597 non-null  float64
 13  minutes                         71597 non-null  float64
 14  opponent_team                   71597 non-null  object
 15  red_cards                       71597 non-null  float64
 16  saves                           71597 non-null  float64
 17  selected_by_percent             71597 non-null  float64
 18  threat                          71597 non-null  float64
 19  transfers_balance               71597 non-null  int64
 20  was_home                        71597 non-null  int64
 21  yellow_cards                    71597 non-null  float64
 22  label                           71597 non-null  int64
 23  player_name                     71597 non-null  object
 24  web_name                        71597 non-null  object
 25  element_type                    71597 non-null  int64
 26  player_team                     71597 non-null  object
 27  understat_id                    71597 non-null  int64
 28  h_team                          71597 non-null  object
 29  a_team                          71597 non-null  object
 30  shots                           71597 non-null  float64
 31  xG                              71597 non-null  float64
 32  xA                              71597 non-null  float64
 33  key_passes                      71597 non-null  float64
 34  npg                             71597 non-null  float64
 35  npxG                            71597 non-null  float64
 36  xGChain                         71597 non-null  float64
 37  xGBuildup                       71597 non-null  float64
 38  xG_player_team                  71597 non-null  float64
 39  xGA_player_team                 71597 non-null  float64
 40  npxG_player_team                71597 non-null  float64
 41  npxGA_player_team               71597 non-null  float64
 42  deep_player_team                71597 non-null  float64
 43  deep_allowed_player_team        71597 non-null  float64
 44  scored_player_team              71597 non-null  float64
 45  missed_player_team              71597 non-null  float64
 46  npxGD_player_team               71597 non-null  float64
 47  ppda_att_player_team            71597 non-null  float64
 48  ppda_def_player_team            71597 non-null  float64
 49  ppda_allowed_att_player_team    71597 non-null  float64
 50  ppda_allowed_def_player_team    71597 non-null  float64
 51  xG_opponent_team                71597 non-null  float64
 52  xGA_opponent_team               71597 non-null  float64
 53  npxG_opponent_team              71597 non-null  float64
 54  npxGA_opponent_team             71597 non-null  float64
 55  deep_opponent_team              71597 non-null  float64
 56  deep_allowed_opponent_team      71597 non-null  float64
 57  scored_opponent_team            71597 non-null  float64
 58  missed_opponent_team            71597 non-null  float64
 59  npxGD_opponent_team             71597 non-null  float64
 60  ppda_att_opponent_team          71597 non-null  float64
 61  ppda_def_opponent_team          71597 non-null  float64
 62  ppda_allowed_att_opponent_team  71597 non-null  float64
 63  ppda_allowed_def_opponent_team  71597 non-null  float64
dtypes: float64(51), int64(7), object(6)
memory usage: 35.0+ MB

In [50]:
data["player_name"]

0        Aaron Cresswell
1        Aaron Cresswell
2        Aaron Cresswell
3        Aaron Cresswell
4        Aaron Cresswell
              ...
71592       Ørjan Nyland
71593       Ørjan Nyland
71594       Ørjan Nyland
71595       Ørjan Nyland
71596       Ørjan Nyland
Name: player_name, Length: 71597, dtype: object

In [51]:
columns = [
    "player_name",
    "player_team"
    ]
data[columns]

           player_name  player_team
0      Aaron Cresswell     West Ham
1      Aaron Cresswell     West Ham
2      Aaron Cresswell     West Ham
3      Aaron Cresswell     West Ham
4      Aaron Cresswell     West Ham
...                ...          ...
71592     Ørjan Nyland  Aston Villa
71593     Ørjan Nyland  Aston Villa
71594     Ørjan Nyland  Aston Villa
71595     Ørjan Nyland  Aston Villa
71596     Ørjan Nyland  Aston Villa

[71597 rows x 2 columns]

In [54]:
sub_columns = [
    "player_name",
    "player_team",
    "element_type",
    "round",
    "minutes",
    "goals_scored",
    "assists",
    "total_points",
    "value",
    "xG",
    "xA",
    "ict_index",
    "was_home",
    "opponent_team",
    "selected_by_percent"
    ]

data_subset = data[sub_columns]
data_subset

,player_name,player_team,element_type,round,minutes,goals_scored,assists,total_points,value,xG,xA,ict_index,was_home,opponent_team,selected_by_percent
0,Aaron Cresswell,West Ham,2,1,90.0,0.054315,0.10863,3.611949,5.5,0.029529,0.089044,0.0,0,Chelsea,0.350575
1,Aaron Cresswell,West Ham,2,2,0.0,0.000000,0.00000,0.000000,5.5,0.000000,0.000000,0.0,1,Bournemouth,0.288275
2,Aaron Cresswell,West Ham,2,3,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,Manchester City,0.239675
3,Aaron Cresswell,West Ham,2,4,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,1,Watford,0.210675
4,Aaron Cresswell,West Ham,2,5,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,West Bromwich Albion,0.198325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71592,Ørjan Nyland,Aston Villa,1,34,0.0,0.000000,0.00000,0.000000,4.3,0.000000,0.000000,0.0,1,Manchester United,0.529248
71593,Ørjan Nyland,Aston Villa,1,35,0.0,0.000000,0.00000,0.000000,4.3,0.000000,0.000000,0.0,1,Crystal Palace,0.502560
71594,Ørjan Nyland,Aston Villa,1,36,0.0,0.000000,0.00000,0.000000,4.3,0.000000,0.000000,0.0,0,Everton,0.462848
71595,Ørjan Nyland,Aston Villa,1,37,0.0,0.000000,0.00000,0.000000,4.3,0.000000,0.000000,0.0,1,Arsenal,0.459248
71596,Ørjan Nyland,Aston Villa,1,38,0.0,0.000000,0.00000,0.000000,4.3,0.000000,0.000000,0.0,0,West Ham,0.415328

In [55]:
data_subset.shape

(71597, 15)

In [57]:
len(data_subset)

71597

In [59]:
data_subset.head()#default 5 but u can keep any number insite

,player_name,player_team,element_type,round,minutes,goals_scored,assists,total_points,value,xG,xA,ict_index,was_home,opponent_team,selected_by_percent
0,Aaron Cresswell,West Ham,2,1,90.0,0.054315,0.10863,3.611949,5.5,0.029529,0.089044,0.0,0,Chelsea,0.350575
1,Aaron Cresswell,West Ham,2,2,0.0,0.000000,0.00000,0.000000,5.5,0.000000,0.000000,0.0,1,Bournemouth,0.288275
2,Aaron Cresswell,West Ham,2,3,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,Manchester City,0.239675
3,Aaron Cresswell,West Ham,2,4,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,1,Watford,0.210675
4,Aaron Cresswell,West Ham,2,5,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,West Bromwich Albion,0.198325

In [61]:
data_subset.tail()

,player_name,player_team,element_type,round,minutes,goals_scored,assists,total_points,value,xG,xA,ict_index,was_home,opponent_team,selected_by_percent
71592,Ørjan Nyland,Aston Villa,1,34,0.0,0.0,0.0,0.0,4.3,0.0,0.0,0.0,1,Manchester United,0.529248
71593,Ørjan Nyland,Aston Villa,1,35,0.0,0.0,0.0,0.0,4.3,0.0,0.0,0.0,1,Crystal Palace,0.502560
71594,Ørjan Nyland,Aston Villa,1,36,0.0,0.0,0.0,0.0,4.3,0.0,0.0,0.0,0,Everton,0.462848
71595,Ørjan Nyland,Aston Villa,1,37,0.0,0.0,0.0,0.0,4.3,0.0,0.0,0.0,1,Arsenal,0.459248
71596,Ørjan Nyland,Aston Villa,1,38,0.0,0.0,0.0,0.0,4.3,0.0,0.0,0.0,0,West Ham,0.415328

In [62]:
animals = pd.Series(["cat","dog","bird","oanda","snake"],index = [0,3,9,8,3])
animals

0      cat
3      dog
9     bird
8    oanda
3    snake
dtype: object

In [63]:
data_subset.iloc[:3]

,player_name,player_team,element_type,round,minutes,goals_scored,assists,total_points,value,xG,xA,ict_index,was_home,opponent_team,selected_by_percent
0,Aaron Cresswell,West Ham,2,1,90.0,0.054315,0.10863,3.611949,5.5,0.029529,0.089044,0.0,0,Chelsea,0.350575
1,Aaron Cresswell,West Ham,2,2,0.0,0.000000,0.00000,0.000000,5.5,0.000000,0.000000,0.0,1,Bournemouth,0.288275
2,Aaron Cresswell,West Ham,2,3,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,Manchester City,0.239675

In [65]:
data_subset.loc[:3]

,player_name,player_team,element_type,round,minutes,goals_scored,assists,total_points,value,xG,xA,ict_index,was_home,opponent_team,selected_by_percent
0,Aaron Cresswell,West Ham,2,1,90.0,0.054315,0.10863,3.611949,5.5,0.029529,0.089044,0.0,0,Chelsea,0.350575
1,Aaron Cresswell,West Ham,2,2,0.0,0.000000,0.00000,0.000000,5.5,0.000000,0.000000,0.0,1,Bournemouth,0.288275
2,Aaron Cresswell,West Ham,2,3,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,0,Manchester City,0.239675
3,Aaron Cresswell,West Ham,2,4,0.0,0.000000,0.00000,0.000000,5.4,0.000000,0.000000,0.0,1,Watford,0.210675

In [74]:
custom_filter = (data_subset["player_name"] == "Aaron Ramsey") & (data_subset["player_team"] == "Arsenal") & (data_subset["minutes"] >=90)
filtered_data = data_subset[custom_filter]
print(filtered_data)

        player_name player_team  element_type  round  minutes  goals_scored  \
76     Aaron Ramsey     Arsenal             3      1     90.0      0.171559
88     Aaron Ramsey     Arsenal             3     13     90.0      0.000000
96     Aaron Ramsey     Arsenal             3     21     90.0      0.000000
97     Aaron Ramsey     Arsenal             3     22     90.0      0.000000
98     Aaron Ramsey     Arsenal             3     23     90.0      0.000000
103    Aaron Ramsey     Arsenal             3     30     90.0      0.000000
107    Aaron Ramsey     Arsenal             3     34     90.0      0.000000
109    Aaron Ramsey     Arsenal             3     36     90.0      0.000000
110    Aaron Ramsey     Arsenal             3     36     90.0      0.000000
111    Aaron Ramsey     Arsenal             3     37     90.0      0.000000
17825  Aaron Ramsey     Arsenal             3      1     90.0      0.072816
17827  Aaron Ramsey     Arsenal             3      3     90.0      0.000000
17830  Aaron Ramsey     Arsenal             3      6     90.0      0.000000
17831  Aaron Ramsey     Arsenal             3      7     90.0      0.000000
17832  Aaron Ramsey     Arsenal             3      8     90.0      0.000000
17834  Aaron Ramsey     Arsenal             3     10     90.0      1.000000
17835  Aaron Ramsey     Arsenal             3     11     90.0      1.000000
17836  Aaron Ramsey     Arsenal             3     12     90.0      0.000000
17837  Aaron Ramsey     Arsenal             3     13     90.0      0.000000
17838  Aaron Ramsey     Arsenal             3     14     90.0      0.000000
17840  Aaron Ramsey     Arsenal             3     16     90.0      0.000000
17841  Aaron Ramsey     Arsenal             3     17     90.0      0.000000
17850  Aaron Ramsey     Arsenal             3     26     90.0      0.000000
17853  Aaron Ramsey     Arsenal             3     29     90.0      0.000000
17856  Aaron Ramsey     Arsenal             3     33     90.0      0.000000
17859  Aaron Ramsey     Arsenal             3     36     90.0      1.000000
17862  Aaron Ramsey     Arsenal             3     38     90.0      0.000000
35730  Aaron Ramsey     Arsenal             3      1     90.0      0.341649
35733  Aaron Ramsey     Arsenal             3      4     90.0      0.000000
35734  Aaron Ramsey     Arsenal             3      5     90.0      0.000000
35750  Aaron Ramsey     Arsenal             3     21     90.0      0.000000
35760  Aaron Ramsey     Arsenal             3     32     90.0      0.000000

        assists  total_points  value        xG        xA  ict_index  was_home  \
76     0.171559      4.083111    8.0  0.277882  0.130524   0.000000         1
88     0.000000      1.000000    7.6  0.000000  0.000000   1.100000         1
96     0.000000      1.000000    7.6  0.169101  0.000000   5.200000         0
97     0.000000      3.000000    7.6  0.439168  0.027035   5.300000         1
98     0.000000      2.000000    7.6  0.260775  0.082567  10.800000         1
103    0.000000      2.000000    7.6  0.180116  0.028884   7.500000         1
107    1.000000      5.000000    7.6  0.096375  0.169907   7.100000         1
109    0.000000      2.000000    7.6  0.150765  0.147537   6.600000         1
110    0.000000      3.000000    7.6  0.313238  0.142189   6.100000         0
111    1.000000      6.000000    7.6  0.157095  0.569550   6.800000         0
17825  0.291262      4.077670    7.0  0.152424  0.192713   8.104369         1
17827  0.000000      2.000000    7.0  0.601546  0.000000  11.800000         0
17830  0.000000      3.000000    7.0  0.155000  0.000000   4.400000         1
17831  1.000000      6.000000    7.0  0.127094  0.000000   4.100000         1
17832  0.000000      3.000000    7.1  0.652566  0.000000   6.400000         0
17834  1.000000     12.000000    7.0  0.839533  0.841042  23.400000         1
17835  0.000000      9.000000    7.0  0.616781  0.476196  12.500000         0
17836  1.000000      6.000000    7.0  0.120209  0.092572   7.600000         1
17837  0.000000      3.000000    7.0  0.000000  0.049910   3.000000         0
17838  1.000000      6.000000    7.1  0.464908  0.031012   6.200000         1
17840  1.000000      6.000000    7.2  0.303540  0.708641  12.200000         0
17841  0.000000      2.000000    7.2  0.232324  0.000000   7.900000         0
17850  0.000000      2.000000    6.9  0.089598  0.000000   2.500000         1
17853  0.000000      2.000000    6.9  0.127457  0.056779   5.600000         0
17856  0.000000      3.000000    6.9  0.196940  0.048514   8.500000         1
17859  1.000000     12.000000    6.8  0.173285  0.721162  13.700000         0
17862  0.000000      2.000000    6.8  0.000000  0.082772   3.600000         0
35730  0.488069      6.344902    7.5  0.285032  0.246770   8.990239         1
35733  0.000000      2.000000    7.4  0.125330  0.223252   8.800000         0
35734  0.000000      2.000000    7.4  0.130841  0.310599  12.800000         0
35750  0.000000      2.000000    7.2  0.156386  0.000000   5.500000         1
35760  0.000000      3.000000    7.1  0.155181  0.000000   3.800000         1

              opponent_team  selected_by_percent
76                Liverpool             4.079250
88              Bournemouth             1.071800
96                  Swansea             1.050125
97                  Burnley             1.055175
98                  Watford             1.051100
103         Manchester City             0.985750
107               Leicester             0.990000
109       Manchester United             1.079000
110             Southampton             1.079000
111                   Stoke             1.298400
17825             Leicester             0.614400
17827             Liverpool             3.054255
17830  West Bromwich Albion             3.321309
17831              Brighton             4.563200
17832               Watford             4.714055
17834               Swansea             4.668673
17835       Manchester City             5.230491
17836             Tottenham             5.887364
17837               Burnley             5.952618
17838          Huddersfield             6.336564
17840           Southampton            10.486709
17841              West Ham             7.282818
17850               Everton             2.852436
17853              Brighton             4.450473
17856           Southampton             5.136091
17859     Manchester United             4.430673
17862          Huddersfield             4.845509
35730       Manchester City             1.041776
35733               Cardiff             1.052534
35734      Newcastle United             1.158621
35750                Fulham             0.990259
35760      Newcastle United             1.015034